nsys_reports*
sample
testcases
*.out
debug.cc
hw1/hw1
*_nvtx
*.png

hw2/hw2a
hw2/hw2b
lab4/sobel

seq
hw3/hw3-1/hw3-1
hw3/hw3-2/hw3-2
hw3/hw3-3/hw3-3

*.txt
hw4/diff*
hw4/seq-attention
hw4/seq-flashattention